<!-- 
 *  This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">
 *  Creative Commons Attribution 3.0 Unported License</a>.
 *  Copyright © GMART, unpublished work. This computer program
 *  includes confidential, proprietary information and is a trade secret of GMART Inc.
 *  All use, disclosure, or reproduction is prohibited unless authorized
 *  in writing by TOUNOUSSI Youssef. All Rights Reserved.
 
@author Youssef TOUNOUSSI <youssef.tounoussi@gmail.com>
Setting used in heroku cloud platform to acces different repositories (Github, Maven, etc..) 
-->
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
      <localRepository/>
      <interactiveMode/>
      <offline/>
      <pluginGroups/>
     <servers>
    	<server>
       		<id>github</id>
       		<username>TOUNOUSSI</username>
       		<password>8f9bca4b8e664e74e994185d19796c1921bbb8d4</password>
       	</server>
     </servers>
  
      <mirrors/>
      <proxies/>
      
		
  <profiles>
    <profile>
      <id>GITHUB</id>
      <repositories>
	    <repository>
			<id>GITHUB-GMART-API-REPO</id>
			<url>https://raw.github.com/TOUNOUSSI/gmart-api/mvn-repo/</url>
			<snapshots><enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
        </snapshots>
       </repository>
     </repositories>
    </profile>
	
  <profile>
		  <id>MAVEN-CENTRAL</id>
		 <!-- Override the repository (and pluginRepository) "central" from the Maven Super POM -->
		  <repositories>
			<repository>
			  <id>MAVEN-CNT-REPO-1</id>
			  <url>https://repo1.maven.org/maven2</url>
			  <releases>
				<enabled>true</enabled>
			  </releases>
			</repository>
			<repository>
			  <id>SPRING-CNT-REPO</id>
			  <url>https://repo.spring.io/milestone/</url>
			  <releases>
				<enabled>true</enabled>
			  </releases>
			</repository>
		  </repositories>
		  <pluginRepositories>
			<pluginRepository>
			  <id>MAVEN-CNT-REPO-1</id>
			  <url>https://repo1.maven.org/maven2</url>
			  <releases>
				<enabled>true</enabled>
			  </releases>
			</pluginRepository>
		  </pluginRepositories>
    </profile>
  </profiles>
  
       <activeProfiles>
      		 <activeProfile>GITHUB</activeProfile>
			 <activeProfile>MAVEN-CENTRAL</activeProfile>
       </activeProfiles>
</settings>